body{
    background-color: #FDE6C6;
    width: 100%;
    height: 100vh;
    position: relative;
}

.kontak{
    color: black;
}


.navbar{
    background-color: #EEC48B;
}

.cari1{
   background-color: #FDE6C6; 
   width: 35%;
   margin-right: 23px;
}

.categori{
    background-color: #EEC48B;
}

.logo{
    width: 60px;
    height: 50px;
}

.row .listgrup{
    background-color: #EEC48B;
}

.h41{
    color: #803212;
    font-family: Franklin Gothic Medium;
}

.tambah1{
    font-size: 9px;
}
.row .card img{
    background-color: #EEC48B;
    border-radius: 1rem;
}
.row .card{
    margin-top: -6px;
    background-color: #EEC48B;
    border-radius: 1rem;
}
.card1 {
    margin-top: -8px;
    margin-bottom: 0px;
    font-family: Franklin Gothic Medium;
    color: #803212;
}

.list-group-item {
    font-family: Franklin Gothic Medium;
}

.head{
    color: #803212;
    font-size: 20px;
    font-family: Franklin Gothic Medium;
}

.star{
    margin-top: -909;
}

.row .card:hover{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    transform: scale(1.02);
}

.product1{
    text-align: center;
    justify-content: center;
}

.navread{
    background-color: #EEC48B;
    border: none;
    color: #803212;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    margin-top: 2rem;
    padding-left: 270px;
    padding-right: 270px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

.navread1{
    background-color: #EEC48B;
    border: none;
    color: #803212;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    margin-top: 40px;
    padding-left: 270px;
    padding-right: 270px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

.keju{
    font-size: 18px;
    color: #803212;
}

.mbo{
    color: #803212;
}

.row .soon{
    text-align: center;
    justify-content: center;
    background-color: #D4C3A4;
    border-radius: 1 rem;
}

.soon{ 
    text-align: center;
    justify-content: center;
}

.footer{
    margin-top: 10px;
    background-color: #EEC48B;
}

.navread2{
    background-color: #FDE6C6;
    border: none;
    color: #803212;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    margin-top: 40px;
    padding-left: 270px;
    padding-right: 270px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

.navread3{
    background-color: #FDE6C6;
    border: none;
    color: #803212;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    cursor: zoom-in;
    border-radius: 17px;
    /* margin-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
     */
}

.navread4{
    background-color: #FDE6C6;
    border: none;
    color: #803212;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    cursor: zoom-in;
    border-radius: 17px;
    /* margin-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
     */
}


.testimonies1{
    text-align: center;
    justify-content: center;
    border: none;
    font-family: Franklin Gothic Medium;
}

.testimonies2{
    text-align: center;
    justify-content: center;
    border: none;
    font-family: Franklin Gothic Medium;
    font-size: 22px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

.contact{
    background-color: #FDE6C6;
    border: none;
    color: #803212;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    margin-top: 40px;
    padding-left: 270px;
    padding-right: 270px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

.navvontact{
    background-color: #EEC48B;
    border: none;
    color: #803212;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    margin-left: 320px;
    margin-top: 40px;
    padding-left: 270px;
    padding-right: 270px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

.foto1{
    width: 20rem;
}

.foto5{
    width: 20rem;
}

.foto3{
    width: 24rem;
}

.foto4{
    width: 16rem;
}

@media screen and (max-width: 767px) {

   

    .navbar{
        background-color: #EEC48B;
    }

    .foto1{
        width: 300px;
        text-align: center;
        justify-content: center;
        border: none;
        font-family: Franklin Gothic Medium;
    }

    .foto2{
        width: 20px;
        text-align: center;
        display:flex;
        border: none;
        font-family: Franklin Gothic Medium;
    }

    .foto21{
        width: 20px;
        text-align: center;
        justify-items: center;
        border: none;
        margin: 0px;
        margin-right: -260px;
        font-family: Franklin Gothic Medium;
    }

    .foto5{
        width: 60%;
        text-align: center;
        justify-content: center;
        display:flex;
        border: none;
        font-family: Franklin Gothic Medium;
    }


    .row .navread{

        width: 350px;
        font-size: 11px;
        margin: 15px;
        margin-top: 20px;
        margin-left: 29px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 25px;
    }

    .roti1{
        font-size: 13px;
    }

    .clas1{
        margin: 2px;
        right: 2000px;
    }
    
    .row .navread1{
        width: 350px;
        font-size: 15px;
        margin: 10px;
        margin-top: 20px;
        margin-left: 29px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 25px;
    }

    .foto3{
        width: 120px;
        text-align: center;
        display:flex;
        border: none;
        font-family: Franklin Gothic Medium;
    }

    .foto4{
        width: 120px;
        text-align: center;
        display:flex;
        border: none;
        font-family: Franklin Gothic Medium;
    }

    .navread2{
        background-color: #FDE6C6;
        border: none;
        color: #803212;
        text-align: center;
        font-size: 19px;
        cursor: pointer;
        margin-top: 40px;
        margin-left: 30px;
        padding-left: 120px;
        padding-right: 150px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 25px;
    }
    
    .navread3{
        background-color: #FDE6C6;
        border: none;
        color: #803212;
        text-align: center;
        justify-content: center;
        font-size: 20px;
        cursor: zoom-in;
        border-radius: 17px;
        /* margin-top: 40px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 5px;
        padding-bottom: 5px;
         */
    }
    
    .navread4{
        background-color: #FDE6C6;
        border: none;
        color: #803212;
        text-align: center;
        justify-content: center;
        font-size: 20px;
        cursor: zoom-in;
        border-radius: 17px;
        /* margin-top: 40px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 5px;
        padding-bottom: 5px;
         */
    }

    .navvontact{
        background-color: #EEC48B;
        border: none;
        color: #803212;
        text-align: center;
        font-size: 14px;
        width: 3px;
        cursor: pointer;
        margin: 0px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: 25px;
    }

    /* .logo{
        margin: -40px;
        width: 60px;
    } */

    input[type=text], select, textarea {
        width: 100%px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-left: 0px;
        margin-right: 20px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 2px 2px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }

      .testimonies2{
        text-align: center;
        justify-content: center;
        border: none;
        font-family: Franklin Gothic Medium;
        font-size: 17px;
    }
}

@media screen and (min-width: 1024px){
    /* .navbar{
        background-color: #EEC48B;
    }

    .navbar .container{
        width: 400px;
    }

    .navbar-toggler{
        border: none;
        margin-top: -60px;
        padding-left: 450px;
    }

    .nav-item{
        margin-left: 400px; 
        padding-left: 400px;
    }

    .nav-search{
        padding-left: 400px;
    } */

    .navread{
        display: block;
        background-color: #EEC48B;
        border: none;
        color: #803212;
        font-size: 20px;
        cursor: pointer;
        margin-top: 40px;
        width: 650px;
        margin-bottom: 40px;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 25px;
    }

    .hotdog{
        margin-left: 5px;
    }
    
    .navread1{
        display: block;
        background-color: #EEC48B;
        border: none;
        color: #803212;
        font-size: 20px;
        cursor: pointer;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 25px;
    }
    
    .navread3{
        background-color: #FDE6C6;
        border: none;
        color: #803212;
        text-align: center;
        justify-content: center;
        font-size: 20px;
        cursor: zoom-in;
        border-radius: 17px;
        /* margin-top: 40px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 5px;
        padding-bottom: 5px;
         */
    }
    
    .navread4{
        background-color: #FDE6C6;
        border: none;
        color: #803212;
        text-align: center;
        justify-content: center;
        font-size: 20px;
        cursor: zoom-in;
        border-radius: 17px;
        /* margin-top: 40px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 5px;
        padding-bottom: 5px;
         */
    }

    .navvontact{
        background-color: #EEC48B;
        border: none;
        color: #803212;
        font-size: 20px;
        cursor: pointer;
        margin-top: 40px;
        margin: 10px;
        margin-left: 25%;
        left: 90px;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: 25px;
    }

    /* .logo{
        
        width: 60px;
    } */
}

@media only screen and (max-width:1023px){

    .hotdog{
        margin: 31px;
        margin-left: 31px;
    }

    .navread1{
        display: block;
        background-color: #EEC48B;
        border: none;
        color: #803212;
        font-size: 20px;
        cursor: pointer;
        margin: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 25px;
    }

    .navread{
        display: block;
        background-color: #EEC48B;
        border: none;
        color: #803212;
        font-size: 20px;
        cursor: pointer;
        margin: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 25px;
    }

    .navvontact{
        display: block;
        background-color: #EEC48B;
        border: none;
        color: #803212;
        font-size: 20px;
        cursor: pointer;
        margin-top: 40px;
        margin: 10px;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 25px;
    }
    
}