.header{
    background-color: #FDE6C6;
    width: 100%;
    height: 100vh;
    position: relative;
}

.path1{
    position: absolute;
    max-width: fit-content;
    float: left;
    margin-left: -20px;
    height: 100vh;
}

.path2{
    position: absolute;
    max-width: fit-content;
    display: block;
    width: 340px;
    height: 389px;
    right: 0%;
    width: 50%;
    bottom: 0%;

}

.roti{
    position: absolute;
    max-width: fit-content;
    display: block;
    top: 7%;
    right: 14%;
    height: 160.83px;
    width: 131.69px;
    transform: rotate(8.1deg);
    opacity: 0.6;
    z-index: 1;
}

.roti2{
    position: absolute;
    max-width: fit-content;
    display: block;
    right: 9%;
    bottom: 0%;
    height: 252px;
    width: 301px;
    opacity: 0.6;
    z-index: 2;
}

.circle{
    position: absolute;
    max-width: fit-content;
    display: block;
    left: 0%;
    bottom: 19%;
    width: 203.57px;
    height: 315px;
    z-index: 2;
}

.png2{
    position: absolute;
    max-width: fit-content;
    display: block;
    left: 3%;
    top: -2%;
    width: 186px;
    height: 175px;
    opacity: 0.8;
    z-index: 2;
}

.molen{
    position: absolute;
    max-width: fit-content;
    display: block;
    left: 9%;
    bottom: 6%;
    width: 292px;
    height: 252px;
    opacity: 0.6;
    z-index: 3;
}

.logo{
    width: 450px;
    height: 360px;
    z-index: 3;
}

.rec1{
    border-radius: 10px;
    background-color: #FEFFF9;
    margin-top: 40px;
    font-family: Franklin Gothic Medium;
    color: #7F5928;
    font-size: 120%;
    height: 30px;
}

.rec2{
    float: left;
    margin-left: 0px;
    left: 450px;
    position: relative;
    border-radius: 10px;
    display: block;
    background-color: #FEFFF9;
    text-align: center;
    margin-top: 30px;
    justify-content: center;
    height: 30px;
    width: 300px;
    font-size: 120%;
    font-family: Franklin Gothic Medium;
    color: #7F5928;
}